<h1 class="text-center">Buscar usuario</h1>
<div class="container border rounded-4">
  <p class="text-body-tertiary">Todos los campos son obligatorios</p>
  <form
    class="d-flex flex-column py-4"
    (ngSubmit)="onSubmit()"
  >
    <div class="mb-4">
      <label class="form-label" for="docType">Tipo de documento:</label>
      <select
        class="form-select"
        id="docType"
        name="docType"
        required
        [(ngModel)]="docType"
      >
        <option value="">Seleccione un tipo de documento</option>
        <option value="c">CC</option>
        <option value="P">Pasaporte</option>
      </select>
    </div>
    <div class="mb-4">
      <label class="form-label" for="docType">Número de documento:</label>
      <input
        class="form-control"
        type="number"
        id="docNumber"
        name="docNumber"
        min="8"
        max="11"
        required
        [(ngModel)]="docNumber"
        (change)="onChange($event)"
      />
    </div>
    <button
      class="btn btn-primary rounded-4"
      type="submit"
      [disabled]="ableBtn"
    >Buscar</button>
  </form>
</div>
